@using ViewExtensions
@using WebSite.App_Code

@{
    ViewBag.Title = "Installation";
    ViewBag.Key = "downloadinstall";
    ViewBag.Description = "How to download and install JSNLog.";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";

    string currentVersion = PageVersions.CurrentVersion();
}

@if (currentVersion == "NetJs")
{

    @*
        --------------------------------------------------------------------------
        If the url or the hash tag of the additional config steps ever changes,
        also change the Nuget readme file
        --------------------------------------------------------------------------
    *@

    @*
        ---------------------------------------------------------
        The hash "additional" is used in the Nuget readme file
        ---------------------------------------------------------
    *@
    <a name="additional"></a>
    <h2>1. Install NuGet package</h2>

    <p>
        These NuGet packages install JSNLog and an adapter that works with your server side logging package.
        They assume that
        you have already installed a server side logging package.
    </p>

    <p>
        <a data-toggle="collapse" href="#collapseVS2013" aria-expanded="false" aria-controls="collapseVS2013">Click here if you use Visual Studio 2013 or older</a>
    </p>
    <div class="collapse" id="collapseVS2013">
        <p>
            These packages contain dependencies for both ASP.NET 4.x and ASP.NET 5+.
            However, versions below 2.8.60318.667 of the NuGet Package Manager installed in Visual Studio do not support this.
        </p>
        <p>
            To check your Nuget version and upgrade if needed:
        </p>
        <ol>
            <li>
                In Visual Studio, open <span class="term">Tools</span> | <span class="term">Extensions and Updates...</span>;
            </li>
            <li>
                Click <span class="term">Updates</span> (in left hand menu);
            </li>
            <li>
                If an update of NuGet Package Manager is available, click <span class="term">Update</span>.
            </li>
        </ol>
    </div>

    <table class="table">
        <tr>
            <th>Your ASP.NET version</th>
            <th>Your Logging Package</th>
            <th>Install this package</th>
        </tr>
        <tr>
            <td>ASP.NET 4.x</td>
            <td>Log4Net</td>
            <td><a href="https://www.nuget.org/packages/JSNLog.Log4Net/" target="_blank">Install-Package JSNLog.Log4Net</a></td>
        </tr>
        <tr>
            <td>ASP.NET 4.x</td>
            <td>NLog</td>
            <td><a href="https://www.nuget.org/packages/JSNLog.NLog/" target="_blank">Install-Package JSNLog.NLog</a></td>
        </tr>
        <tr>
            <td>ASP.NET 4.x</td>
            <td>Elmah</td>
            <td><a href="https://www.nuget.org/packages/JSNLog.Elmah/" target="_blank">Install-Package JSNLog.Elmah</a></td>
        </tr>
        <tr>
            <td>ASP.NET 4.x</td>
            <td>Serilog</td>
            <td><a href="https://www.nuget.org/packages/JSNLog.Serilog/" target="_blank">Install-Package JSNLog.Serilog</a></td>
        </tr>
        <tr>
            <td>ASP.NET 4.x</td>
            <td>Common.Logging</td>
            <td><a href="https://www.nuget.org/packages/JSNLog.CommonLogging/" target="_blank">Install-Package&nbsp;JSNLog.CommonLogging</a></td>
        </tr>
        <tr>
            <td>ASP.NET 5</td>
            <td>any</td>
            <td>
                @Html.ViewLink("downloadinstall-aspnet5",
            "Click here")
        </td>
    </tr>
</table>

    <p>
        If your logging package is not listed here, install the version for Common.Logging and
        then install a Common.Logging
        <a href="http://www.nuget.org/packages?q=Common.Logging">adapter for your logging package</a>.
    </p>
    <p>

    </p>


    @*
        ---------------------------------------------------------
        The hash "serilog" is used in the Nuget readme file for the Nuget package for Serilog
        ---------------------------------------------------------
    *@
    <a name="serilog"></a>
    <h2>2. Serilog only</h2>

    <a data-toggle="collapse" href="#collapseSerilog" aria-expanded="false" aria-controls="collapseSerilog">Click here if you use Serilog</a>
        <div class="collapse" id="collapseSerilog">

            <p style="margin-top: 10px;">
                This package assumes that you have created a
                <a href="https://github.com/serilog/serilog/wiki/Getting-Started" target="_blank">global logger</a>.
                For example:
            </p>
<pre>
var log = new LoggerConfiguration()
    .WriteTo.File("log.txt")
    .CreateLogger();<br />
// Set global logger, so JSNLog can access it.
Log.Logger = log;
</pre>
            <p>
                A good place for this would be the <span class="term">Application_Start</span>
                handler in your <span class="term">Global.asax.cs</span>.
            </p>
         </div>

            @*
                ---------------------------------------------------------
                The hash "addtoyourpages" is used in the Nuget readme file
                ---------------------------------------------------------
            *@

            <a name="addtoyourpages"></a>
            <h2>3. Add JSNLog to your pages</h2>

            <p>
                Call JSNLog's
                @Html.ViewLink("javascriptlogging-configure", "Configure")
                method in your pages, before any script tags that load JavaScript
                that use JSNLog loggers.
                This generates a script tag that loads the jsnlog.min.js JavaScript library
                (@Html.ViewLink("getstarted-loadingjsfile", "how to stop this", fragment: "stopscripttaggeneration")).

            </p>
            @Html.Partial("_CallingConfigure")

            <p>
                @Html.ViewLink("webconfig",
            "Take these steps if you cannot call Configure",
            fragment: "cannotcallconfigure"),
                for example if your pages are flat files that are not generated by MVC or WebForms.
            </p>

            <h2>4. OWIN only</h2>

            <a data-toggle="collapse" href="#collapseOwin" aria-expanded="false" aria-controls="collapseOwin">Click here if you use OWIN</a>
            <div class="collapse" id="collapseOwin">

                <p style="margin-top: 10px;">
                    A working demo is in project
                    <a href="https://github.com/mperdeck/jsnlogSimpleWorkingDemos" target="_blank">EmptyLog4Net - OWIN</a>
                </p>
                <ol>
                    <li>
                        <a id="owin-addtopipeline"></a>
                        <b>Add JSNLog to your OWIN pipeline</b> in your Startup class:
                        <p />
                        <pre style="margin-bottom: 10px;"><span class="addedcode">using JSNLog;</span><br />
public class Startup
{
    public void Configuration(IAppBuilder app)
    {
        ...

        // Short circuits log requests from the jsnlog.js client library and 
        // passes the log data on to the server side logging package.
        <span class="addedcode">app.UseJSNLog();</span>
        ...
    }
}</pre>
                    </li>
                    <li>
                        <b>Update your web.config</b> -
                        Remove the definitions that make JSNLog work as an HTTP Handler, and add a definition
                        that sends
                        all log requests to the OWIN handler:
                        <p />
                        <pre>&lt;configuration&gt;
    &lt;system.web&gt;
    &lt;httpHandlers&gt;
        ...
        &lt;!-- Remove this line --&gt;
                        <del>&lt;add verb="*" path="*@SiteConstants.HandlerExtension" type="JSNLog.LoggerHandler, JSNLog" /&gt;</del>
    &lt;/httpHandlers&gt;
    &lt;/system.web&gt;
    &lt;system.webServer&gt;
    &lt;handlers&gt;
        ...
        &lt;!-- Remove these lines --&gt;
                        <del>&lt;add name="LoggerHandler" verb="*" path="*@SiteConstants.HandlerExtension" type="JSNLog.LoggerHandler, JSNLog" resourceType="Unspecified" preCondition="integratedMode" /&gt;</del>
                        <del>&lt;add name="LoggerHandler-Classic" path="*@SiteConstants.HandlerExtension" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode" /&gt;</del>
        &lt;!-- 
        Add this line. 
        If you configure JSNLog to send log request to a url that 
        does NOT end in @SiteConstants.HandlerExtension (@Html.ViewLink("getstarted-cors", "how")), change the path attribute below.
        --&gt;
                        <span class="addedcode">&lt;add name="Owin" verb="" path="*@SiteConstants.HandlerExtension" 
             type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb"/&gt;</span>
    &lt;/handlers&gt;
    &lt;/system.webServer&gt;
&lt;/configuration&gt;</pre>
                        <p />
                    </li>

                </ol>

            </div>

            <a name="feedback"></a>
            <h2>5. Add your company's logo</h2>
            <p>
                If you are using JSNLog in your company's web site, please
                <a href="https://github.com/mperdeck/jsnlog/issues?state=open">let us know</a>.
            </p>
            <p>

                Adding your logo to the bottom of our web site
                gives your company some free exposure, and tells others
                that you are happy using it.
            </p>
            <p>
                <h2>
                    6. @Html.ViewLink("getstartedlogging", "Start logging >>")
                </h2>
            </p>
            }

            @*====================================================================================================*@
            @* JS Only *@
            @*====================================================================================================*@

            @if (currentVersion == "JsOnly")
            {
                <p>
                    @{
                        Uri url = HttpContext.Current.Request.Url;
                        string netJsUrl = PageVersions.UrlWithVersionUrlName(url, "netjs");
                    }

                    <small>If you use .Net, <a href="@netJsUrl">click here</a>.</small>
                </p>

                <p>
                    Firstly, <a href="@SiteConstants.DownloadLinkJsnlogJs" target="_blank">download jsnlog.js</a> and add it to your site.
                </p>

                <p>
                    The second step is to let your server receive log messages from jsnlog.js. Two things are in play here:
                </p>
                <ol>
                    <li>The URL where you will receive log messages;</li>
                    <li>The format of the log messages.</li>
                </ol>

                <h2>URL where you will receive log messages</h2>

                <p>
                    The built in AJAX appender by default sends all log messages to this url:
                </p>
                <pre>@SiteConstants.DefaultDefaultAjaxUrl</pre>

                <p>
                    You can change this using the
                    <span class="term">defaultAjaxUrl</span>
                    field in the
                    JL
                    @Html.ViewLink("jsnlogjs-jl-setOptions")<text>.</text>
                </p>

                <a id="formatlogmessages"></a><h2>Format of the log messages</h2>
                <p>
                    The AJAX appender sends log requests with:
                </p>
                <ul>
                    <li>
                        A JSON string containing most of the log data;
                    </li>
                    <li>
                        A <a href="#requestheader">request header @SiteConstants.HttpHeaderRequestIdName containing the request id</a>.
                    </li>
                </ul>

                <h3>JSON string</h3>
                <p>
                    The JSON string has this format:
                </p>

                @Html.Partial("_LogMessageFormat")

                <a id="requestheader"></a>
                <h3>@SiteConstants.HttpHeaderRequestIdName request header with request id</h3>

                <p>
                    The request id is used to identify all log requests that were generated by the same user.
                    To use this facility, set the request id in your JavaScript after the page has loaded to some unique string, using
                    the JL
                    @Html.ViewLink("jsnlogjs-jl-setOptions")<text>.</text>
                </p>
                <p>
                    The jsnlog.js library then includes that request id in all log requests.
                </p>
                <p>
                    If you don't set the request id, jsnlog.js uses the empty string.
                </p>
                <p>
                    The request id is sent in a custom HTTP request header, @SiteConstants.HttpHeaderRequestIdName. This way,
                    server side code can easily determine whether a request is a log request from jsnlog.js, or some other request (such as a simple page request).
                </p>
                        }

                        @*====================================================================================================*@
                        @* NodeJs *@
                        @*====================================================================================================*@

                        @if (currentVersion == "NodeJs")
                        {
                            <p>
                                <a href="https://github.com/mperdeck/jsnlog.NodeJsWorkingDemos" target="_blank">Working sample code</a>
                            </p>

                            <h2>Logging server side</h2>
                            <ol>
                                <li>
                                    Install jsnlog.js from NPM:
                                    <pre>npm install jsnlog</pre>
                                </li>
                                <li>
                                    Load jsnlog into your code:
                                    <pre>var JL = require('jsnlog').JL;</pre>
                                </li>
                                <li>
                                    By default, jsnlog.js logs to the console. To make it easy to log to a database or a logging service,
                                    you can use
                                    <a href="https://github.com/flatiron/winston#working-with-transports" target="_blank">Winston transports</a>
                                    as well
                                    (@Html.ViewLink("getstarted-loggingtodb", "see how")).
                                </li>
                            </ol>

                            <p>
                                If you will only be logging from a Node.js program, that's the installation done.
                                Head on to the @Html.ViewLink("getstartedlogging")
                                page.
                            </p>
                            <p>
                                If you have a web site, you'll want to log exceptions and other interesting events in the client
                                and store the log messages on the server. Continue on.
                            </p>

                            <h2>Logging client side</h2>
                            <p>
                                Two things
                                need to be done:
                            </p>
                            <ul>
                                <li>Load jsnlog.js on the client. This will send log messages via AJAX to the server.</li>
                                <li>
                                    Receive the log messages on the server and log them server side.
                                </li>
                            </ul>

                            <h3>Load jsnlog.js on the client</h3>
                            <p>
                                You have these options to load jsnlog.js on the client:
                            </p>
                            <ol class="large-items">
                                <li>
                                    With a simple script tag. If necessary, copy jsnlog.js from the
                                    <span class="term">node_modules/jsnlog</span> directory
                                    to the directory where you keep your client side JavaScript files.
                                </li>
                                <li>
                                    As an AMD module (@Html.ViewLink("getstarted-loadingjsfile-nodejs", "how", fragment: "amd")).
                                </li>
                                <li>
                                    As part of a combined JavaScript file generated by Browserify
                                    (@Html.ViewLink("getstarted-loadingjsfile-nodejs", "how", fragment: "browserify")).
                                </li>
                            </ol>
                            <p>
                                Note that the same jsnlog.min.js file happily works on both the client and server.
                                On the client, by default it automatically sends log messages via AJAX to the server.
                                On the server, by default it sends log messages to the console.
                            </p>

                            <h3>Receive and store log messages on the server</h3>
                            <p>
                                The jsnlog.js running on the client by default sends log messages to:
                            </p>
                            <pre>@SiteConstants.DefaultDefaultAjaxUrl</pre>

                            <p>
                                (@Html.ViewLink("jsnlogjs-jl-setOptions", "how to change", fragment: "defaultAjaxUrl"))
                            </p>
                            <p>
                                These log messages are POSTs, and the log messages sit in the body as
                                a JSON object. You will want to receive those messages on the server, and pass them on to
                                the server side jsnlog.js, for server side logging.
                            </p>

                            <p>
                                To make this easier, the <span class="term">jsnlog-nodejs</span> package
                                exposes a function that takes the JSON object and logs all the messages:
                            </p>

                            <pre>npm install jsnlog-nodejs</pre>

                            <pre>var JL = require('jsnlog').JL;
var jsnlog_nodejs = require('jsnlog-nodejs').jsnlog_nodejs;<br />
// Read JSON object from message body
var jsonBody = ....;<br />
// Pass the log messages to the server side jsnlog.js
jsnlog_nodejs(JL, jsonBody);
</pre>
                            <p>
                                For example, if you use
                                <a href="http://expressjs.com/" target="_blank">Express</a>, you could
                                add a route to receive the log messages:
                            </p>
                            <pre>npm install express
npm install body-parser
</pre>

                            <pre>
var express = require('express');
var bodyParser = require('body-parser'); 
var app = express();<br />
// Ensure that the JSON objects received from the client get parsed correctly.
app.use(bodyParser.json())<br />
// jsnlog.js on the client by default sends log messages to @SiteConstants.DefaultDefaultAjaxUrl, using POST.
app.post('*.logger', function (req, res) { 
    jsnlog_nodejs(JL, req.body);<br />
    // Send empty response. This is ok, because client side jsnlog does not use response from server.
    res.send(''); 
});
</pre>

                            <p>
                                Now that the installation is done,
                                visit the @Html.ViewLink("getstartedlogging")
                                page.
                            </p>
                        }
