@using ViewExtensions
@using WebSite.App_Code

@{
    string appenderType = (string)(ViewData["objectType"]);

    string configSource = (string)(ViewData["configSource"]);

    bool webConfigSpecific =
        ((string)(ViewData["configSource"]) == "web.config");

    bool showNameAttribute =
        ((string)(ViewData["configSource"]) == "web.config");

    bool showTypeColumn =
        ((string)(ViewData["configSource"]) != "web.config");
        
    string keyLoggerOptions =
        ((string)(ViewData["configSource"]) == "web.config") ? "webconfig-logger" : "jsnlogjs-logger-setOptions";

    bool showUrlTableRow = (appenderType == "AjaxAppender");

    bool showBeforeSendTableRow = (appenderType == "AjaxAppender") && (configSource == "jsnlog.js");

    string currentVersion = PageVersions.CurrentVersion();
}

    <table class="table wide">
        @Html.Partial("_OptionsTableHeading",ViewData)
        <tbody>
       @if (showNameAttribute)
       {
            @Html.TableRowHtml("name", "required", 
            "",
                @"Name of the " + appenderType + " you want to configure.")
       }
        @Html.Partial("_SharedFilterTableRows",ViewData)
        @Html.TableRowHtml("storeInBufferLevel", "optional", (showTypeColumn ? "number" : null), "ALL",
                @"If the severity of the log message is equal or greater than this,
                 but smaller than <span class=""term"">level</span>,
                 the log message will not be sent to the server, but stored in an internal buffer.
                <p>
                If <span class=""term"">bufferSize</span> is 0 or less, the log message is simply ignored.
                ")
        @Html.TableRowHtml("sendWithBufferLevel", "optional", (showTypeColumn ? "number" : null), "OFF",
                @"If the severity of a log message is equal or greater than this,
                 not only the log message but also all log messages stored in the internal buffer
                 will be sent to the server.
                <p>
                This allows you to store low priority trace messages in the internal buffer,
                and only send them when a high priority fatal message is sent.
                ")
        @Html.TableRowHtml("bufferSize", "optional", (showTypeColumn ? "number" : null), "0",
                @"Sets the size of the buffer used with <span class=""term"">sendWithBufferLevel</span> and
                 <span class=""term"">storeInBufferLevel</span>.")
        @Html.TableRowHtml("batchSize", "optional", (showTypeColumn ? "number" : null), "1",
                @"Allows you to improve performance by sending multiple log messages in one go, 
                rather than one by one.")
            @if (showUrlTableRow)
            { 
        @Html.TableRowHtml("url", "optional", (showTypeColumn ? "string" : null), Utils.DefaultAjaxUrlLink((string)ViewData["configSource"]),
                @"All log messages will be sent to this URL. See below.")
            }
            @if (showBeforeSendTableRow)
            { 
        @Html.TableRowHtml("beforeSend", "optional", "function", "(empty)",
                @"Function called before an AJAX request is sent to the server. Lets you set request headers, etc. See below.")
            }
        </tbody>
    </table>

<h3>Logger level and appender level</h3>
<p>
    Notice that both 
                @Html.ViewLink(keyLoggerOptions, "loggers")
     and appenders have a level. This means that a log message must have 
    a severity that is equal or higher than both these levels in order to be processed.
</p>

            @if (showBeforeSendTableRow)
            { 
<a id="beforeSend"></a><h3>beforeSend</h3>
<p>
    The beforeSend field lets you set a function that is called right before 
    an AJAX request with log messages is sent to the server.
</p>
<p>
    It takes one parameter:
    the <a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest">XMLHttpRequest</a>
    object that is used to send the request.
    This allows you to for example add your own request headers.
</p>
                <p>
                    Inside <span class="term">beforeSend</span>
                    , <span class="term">this</span> refers to the ajaxAppender sending the log request.

                </p>
<p>
    To set a default <span class="term">beforeSend</span> method for all ajax appenders,
    set the library wide option 
    @Html.ViewLink("jsnlogjs-jl-setOptions", "JL.defaultBeforeSend")<text>.</text>
    An appender's own <span class="term">beforeSend</span> method takes priority over any
    <span class="term">JL.defaultBeforeSend</span> method.
</p>                
            }

<h3>url</h3>

<p>
    The url that this AjaxAppender sends log requests to.  
    The default url is <span class="term">@SiteConstants.DefaultDefaultAjaxUrl</span>.
</p>
@{
    if (currentVersion != "NetJs")
    {
        <p>
            If you send the log requests to a domain different from that of your site
            (such as <i>logger.mydomain.com/jsnlog.logger</i>),
            make sure the server side end point where you receive log requests 
            <a href="http://www.html5rocks.com/en/tutorials/cors/" target="_blank">implements the CORS protocol</a>. 
            Otherwise the browser won't send log requests to your end point.
        </p>
    }
    else
    {
        <p>
            In addition to setting this option, 
            you may have to take 
            @Html.ViewLink("getstarted-cors", "these additional steps")
            to make sure the server receives log requests correctly.
        </p>
    }
}



