@using ViewExtensions

@{
    ViewBag.Title = "jsnlogjs.js";
    ViewBag.Key = "jsnlogjs";
    ViewBag.Description = "The jsnlogjs.js library";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<p>
    Use the jsnlog.js library to:
<p>
<ul class="large-items">
    <li>
        @Html.ViewLink("jsnlogjs-logger", "Send log items")<text>;</text>
    </li>
    <li>
        @Html.ViewLink("jsnlogjs-logger-setOptions", "Configure loggers")<text>,</text>
        @Html.ViewLink("jsnlogjs-ajaxappender-setOptions", "appenders")
        and some
        @Html.ViewLink("jsnlogjs-jl-setOptions", "general client side settings")@if (PageVersions.CurrentVersion() == "NetJs")
{<text> (</text>@Html.ViewLink("webconfig", "more configuration options")<text>)</text>};
    </li>
    <li>
        @Html.ViewLink("jsnlogjs-exception", "Create custom exceptions with optional inner exceptions")<text>.</text>
    </li>
</ul>

    <h3>Contents</h3>

    @Html.ChildrenTable("Topic", cssClass: "table wide")


